[Unit]
Description=Apache ZooKeeper
After=network.target

[Service]
Type=simple
User={{ kafka_user }}
Group={{ kafka_group }}

ExecStart={{ kafka_install_dir }}/bin/zookeeper-server-start.sh {{ kafka_install_dir }}/config/zookeeper.properties
ExecStop={{ kafka_install_dir }}/bin/zookeeper-server-stop.sh

Restart=always

[Install]
WantedBy=multi-user.target
